.bookList{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-top: 20px;
}

.bookList::after{
  display: table;
  clear: both;
  content: '';
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.btnLoadMore{
  height: 30px;
  margin: 20px;
  font-size: medium;
  width: 200px;
  color: white;
  border: 1px solid transparent;
  background-color: #1342a8;
  cursor: pointer;
}

.bookNotFound {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

